<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.veetragdeora.e_business_project">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register"
            android:label="@string/title_activity_register"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Profile"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Shoppingccessory"
            android:label="@string/title_activity_shoppingccessory"
            android:parentActivityName=".Profile"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Topware"
            android:label="@string/title_activity_topware"
            android:parentActivityName=".Shoppingccessory"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".FAQs"
            android:label="@string/title_activity_faqs"
            android:parentActivityName=".Shoppingccessory"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Contact"
            android:label="@string/title_activity_contact"
            android:parentActivityName=".Shoppingccessory"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AskQuestion"
            android:label="@string/title_activity_ask_question"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Buy"
            android:label="@string/title_activity_buy"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AboutUs"
            android:label="@string/title_activity_about_us"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>
